.carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#carouselExampleControlsNoTouching {
    width: 80%;
    height: 80%;
}
.carousel-item{
    align-items: center;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
}